@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotifications";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Tüm Bildirimler</h1>

<table class="table table-bordered bg-dark text-warning ">
    <tr>
        <td>#</td>
        <td>Bildirim Detayları</td>
        <td>Tarih</td>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.NotificationID</td>
    <td>@item.NotificationDetails</td>
    <td>@item.NotificationDate.ToShortDateString()</td>
</tr>
    }
</table>
